.linha {
    display:flex;
}

.quadrado {
    background-color: #fff;
    width: 100px;
    height: 100px;
    font-size: 48px;
    border: none;
}

.quadrado-vermelho {
    background-color: red;
    width: 100px;
    height: 100px;
    font-size: 48px;
    border: dashed black;
}

/* Bordas internas para as células, exceto a última coluna e linha */
.linha .quadrado:not(:last-child) {
    border-right: 1px solid black; 
}
  
.linha:not(:last-child) .quadrado {
    border-bottom: 1px solid black; 
}
